.logo{
    background: url(../../public/images/logo.png) no-repeat center/100%;
    height: 12px;
    width: 57px;
    position: fixed;
    bottom: 20px;
    z-index: 5;
}

.footer{
    margin: 100px auto 25px;
}