* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
    flex-shrink: 0;
}

.App{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.slides{
    display: flex;
    overflow-x: hidden;
}

.slideWrapper{
    position: relative;
    padding: 0 7vw;
}

#scrollbar-container {
    position: absolute;
    left: 0;
    bottom: 5px;
    top: 5px;
    width: 5px;
    background-color: #000;
}

#scrollbar {
  position: absolute;
  right: -4.5px;
  height: 30px;
  width: 15px;
  border-radius: 10px;
  background: url(../../public/images/SlideTwo/scroll.png) no-repeat center/cover;
}

::-webkit-scrollbar {
  display: none;
}