.SlideTwo{
    position: relative;
    left: 0;
    transition: left 0.6s linear;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
}

.SlideTwo::before{
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(210deg,#cc729b 5%,#fff 35%, #fff 80%, #74d4fc 95%) no-repeat center/cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.sperm {
    position: absolute;
}

.sperm_1{
    width: 25vw;
    right: 0;
    mix-blend-mode: multiply;
    top: 50px;
    opacity: 0.5;
}

.sperm_2{
    width: 32vw;
    right: 0;
    mix-blend-mode: multiply;
    top: 120px;
    opacity: 0.5;
}

.sperm_main{
    width: 60vw;
    right: 0;
    top: 12vh;
}

.sperm_3{
    width: 10vw;
    right: 0;
    mix-blend-mode: multiply;
    bottom: 35vh;
    opacity: 0.5;
}

.sperm_4{
    width: 10vw;
    right: 0;
    bottom: 25vh;
    opacity: 0.5;
}

.sperm_1,.sperm_2,.sperm_3,.sperm_4,.sperm_main{
    transform: translate(10vw,5vw);
    opacity: 0;
    transition: opacity 4s, transform 4s;
}

.mainContent{
    margin-top: 20vh;
    position: relative;
    z-index: 2;
}

.title_slide2{
    max-width: 200px;
}

.messageBox{
    position: relative;
}

.messageWrapper{
    max-height: 50vh;
    width: 75vw;
    background-color: #fff;
    border-radius: 40px;
    border: 30px solid #fff;
    border-right-width: 40px;
    margin: 20px 0 0 5vw;
    overflow: scroll;
}

.message{
    line-height: 30px;
    font-size: 24px;
}

