.SlideTwo{
    position: relative;
    left: 0;
    transition: left 0.6s linear;
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
}

.SlideTwo::before{
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(210deg,#cc729b 5%,#fff 35%, #fff 65%, #85c7e7 95%);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.sperm {
    position: absolute;
}

.sperm_1{
    width: 25vw;
    right: 0;
    mix-blend-mode: multiply;
    top: 50px;
    opacity: 0.5;
}

.sperm_2{
    width: 32vw;
    right: 0;
    mix-blend-mode: multiply;
    top: 120px;
    opacity: 0.5;
}

.sperm_main{
    width: 60vw;
    right: 0;
    top: 12vh;
}

.sperm_3{
    width: 10vw;
    right: 0;
    mix-blend-mode: multiply;
    bottom: 400px;
    opacity: 0.5;
}

.sperm_4{
    width: 10vw;
    right: 0;
    bottom: 300px;
    opacity: 0.5;
}

.mainContent{
    margin-top: 20vh;
    position: relative;
    z-index: 2;
}

.title{
    font-family: 'DIN Pro';
    font-size: 27px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: #242424;
    max-width: 200px;
}

.messageWrapper{
    max-height: 50vh;
    width: 80vw;
    background-color: #fff;
    border-radius: 40px;
    border: 30px solid #fff;
    border-left-width: 60px;;
    margin-top: 20px;
    overflow: auto;
}

.message{
    line-height: 30px;
    font-size: 24px;
}


.spermAppears{
    animation: spermAppears 1.2s linear;
}

.spermMainAppears{
    animation: spermMainAppears 1.2s linear;
}

@keyframes spermAppears {
    from{
        transform: translate(10vw,5vw);
        opacity: 0;
    }

    50%{
        transform: translate(5vw,2.5vw);
        opacity: 0.1;
    }

    to{
        transform: translate(0,0);
        opacity: 0.50;
    }
    
}

@keyframes spermMainAppears {
    from{
        transform: translate(10vw,5vw);
        opacity: 0;
    }

    50%{
        transform: translate(5vw,2.5vw);
        opacity: 0.2;
    }

    to{
        transform: translate(0,0);
        opacity: 1;
    }
    
}